a {
	color: $primary;
	text-decoration: none;
	outline: none;

	&:visited {
		color: $secondary;
	}
	&:hover,
	&:focus,
	&:active {
	    text-decoration: none;
		color: $secondary;
		outline: none;
	}
}