$primary: #e5493a; 
//$primary: #3183d7;  /* Blue */
//$primary: #3bbc59;  /* Green */
//$primary: #fa5623;  /* Orange */ 


$secondary: #272727;
$white: #fff;
$black: #000;

$c1: #cacaca; 
$c2: #f5f6f7;
$c3: #777777; 